@charset "UTF-8";

body {
    background: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #00000070;
    display: block;
}

#flista {
    width: 150px;
}

img {
    padding-top: 20px;
    width: 200px;
    display: block;
    margin: auto;
}

div {
    text-align: center;
    padding: 10px;
}

#msg {
    font-size: 1.25em;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}